$background-color-primary: #EAE6DE;
$background-color-secondary: #FF8C8C;

$font-color-primary: #EAE6DE;
$font-color-secondary: #AAA;

.postsContainer {
    background-color: $background-color-primary;
    font-family: 'Rozha One', serif;
    padding-top: 128px;
}

.postsTitle {

    h1 {
        font-size: 72px;
        margin-bottom: 42px;
        color: $background-color-secondary;
    }
}

.postsDiv {
    h3 {
        display: flex;
        justify-content: center;
        align-items: center;

        font-size: 38px;
        color: $background-color-secondary;
        margin-bottom: 52px;
    }
}