$background-color-primary: #EAE6DE;
$background-color-secondary: #FF8C8C;

$font-color-primary: #333;
$font-color-secondary: #777;

.containerDiv {
    background-color: $background-color-primary;
    padding: 150px 0;

    @media (max-width: 767px) {
        padding: 72px 0;
    }
}

.contentDiv {
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // flex-direction: column;
}

.textDiv {
    background-color: $background-color-secondary;
    color: $background-color-primary;
    font-size: 20px;
    padding: 58px;
    width: 100%;

    position: relative;

    p {
        max-width: 450px;
        font-family: 'M PLUS Rounded 1c', sans-serif;
        font-weight: bold;
    }

    @media (max-width: 1399px) {
        p {
            width: 360px;
            font-size: 16px;
        }
    }

    @media (max-width: 1199px) {
        p {
            max-width: 300px;
            font-size: 14px;
        }
    }

    @media (max-width: 991px) {
        p {
            font-size: 14px;
        }
    }

    @media (max-width: 767px) {
        p {
            max-width: 100%;
        }
    }

    @media (max-width: 575px) {
        padding: 22px;

        p {
            width: 100%;
        }
    }
}

.imageDiv {
    width: 500px;
    height: 700px;

    background-image: url('./contentImage.jpg');
    background-size: contain;


    position: absolute;
    transform: translateX(500px) translateY(150px);

    @media (max-width: 1399px) {
        width: 350px;
        height: 490px;

        transform: translateX(400px) translateY(150px);
    }

    @media (max-width: 1199px) {
        transform: translateX(310px) translateY(150px);    
    }

    @media (max-width: 767px) {
        display: none;   
    }
}

.ownerDiv {
    h1 {
        font-size: 72px;
        font-family: 'Rozha One', serif;
        color: $background-color-secondary;
        margin-top: 42px;
        margin-left: 128px;
    }

    @media (max-width: 1199px) {
        h1 {
            font-size: 52px;
            margin-left: 92px;
        }
    }

    @media (max-width: 991px) {
        h1 {
            font-size: 52px;
            margin-left: 52px;
        }
    }
}