$background-color-primary: #EAE6DE;
$background-color-secondary: #FF8C8C;

$font-color-primary: #EAE6DE;
$font-color-secondary: #AAA;

.postItem {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    background-color: #888;
    margin-bottom: 62px;
    background: #EAE6DE;
    border: 2px solid lighten($color: $font-color-secondary, $amount: 15);
    border-radius: 16px;
    padding: 32px 52px;

    .imageDiv {
        margin-right: 50px;

        .image {
            width: 172px;
            height: 172px;
            border-radius: 16px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    }

    @media (max-width: 991px) {
        flex-direction: column;

        .imageDiv {
            margin-right: 0;

            .image {
                width: 320px;
                height: 320px;
                margin-bottom: 32px;
            }
        }
    }

    @media (max-width: 575px) {
        padding: 24px 16px;

        .imageDiv {
            display: none;
        }
    }
}

.textDiv {
    margin-right: 50px;
    
    h2 {
        font-size: 42px;
        color: #555;
    }

    p {
        font-size: 18px;
        color: $font-color-secondary;
        font-family: 'M PLUS Rounded 1c', sans-serif;
        font-weight: bold;
    }

    @media (max-width: 1199px) {
        h2 {
            font-size: 32px;
        }

        p {
            font-size: 14px;
        }
    }

    @media (max-width: 991px) {
        margin-right: 0;
        text-align: center;

        h2 {
            margin-bottom: 32px;
        }

        p {
            margin-bottom: 32px;
        }
    }
}

.linkDiv {
    a {
        display: flex;
        justify-content: center;
        align-items: center;

        background-color: $background-color-secondary;
        width: 92px;
        height: 92px;
        border-radius: 16px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        border: none;

        font-family: 'M PLUS Rounded 1c', sans-serif;
        font-weight: bold;
        color: $background-color-primary;
        font-style: normal;
        font-weight: bold;
        font-size: 28px;

        transition: background-color .5s ease-in-out;

        &:hover {
            background-color: #fd5e5e
        }

        &:active {
            background-color: $font-color-secondary;
        }
    }

    @media (max-width: 991px) {
        a {
            width: 200px;
        }
    }
}