$background-color-primary: #EAE6DE;
$background-color-secondary: #FF8C8C;

$font-color-primary: #333;
$font-color-secondary: #777;

.aboutContainer {
    font-family: 'Rozha One', serif;
    padding-top: 128px;
    background-color: $background-color-primary;
}

.aboutA {
    background: linear-gradient(hsla(0, 100%, 77%, 0.0) 100%, hsla(0, 100%, 77%, 0.0) 100%), url('./aboutImage.jpeg');
    background-position: center;
    background-size: cover;
    transition: linear-grandient .5s ease-in-out;
    text-decoration: none;

    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 72px;

    .aboutDiv {
        width: 100%;
        height: 100%;
        background-color: hsla(0, 100%, 77%, 0);
        transition: background-color .5s ease-in-out;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .aboutContent {
        max-width: 550px;

        h1 {
            color: $font-color-primary;
            text-align: center;
            transition: color .5s ease-in-out;
        }

        p {
            text-align: center;
            color: $background-color-primary;
        }
    }

    &:hover .aboutDiv {
        background-color: hsla(0, 100%, 77%, 0.5);
    }

    &:hover h1 {
        color: darken($color: $background-color-secondary, $amount: 10);
    }
}